#SideBarBottonSelected {
    /*-fx-background-color: #0080FF;*/
    /*-fx-text-fill: #F3F1F1;*/
    /*-fx-border-radius: 8px;*/
}

#SideBarBottonNotSelected {
    /*-fx-background-color: #F3F1F1;*/
    /*-fx-border-radius: 8px;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 0.5px;*/
}

#SideBarBottonNotSelected1{
    /*-fx-background-color: #F3F1F1;*/
    /*-fx-border-radius: 8px;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 0.5px;*/
}

#SideBarVhbox {
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: #969696;
}

#SidbarHolder {
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #969696;
}

#AddUser {
    /*-fx-background-color: #F3F1F1;*/
    /*-fx-border-radius: 8px;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 0.5px;*/
}

#FareManagement {
    /*-fx-background-color: #0080FF;*/
    /*-fx-text-fill: #F3F1F1;*/
    /*-fx-border-radius: 8px;*/
}

#PageRole {
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-color: #969696;
}

#TitlePage {
    -fx-font-weight: bold;
}

#AddNewTtileButton {
    -fx-background-color: #1B69D0;
    -fx-text-fill: #F3F1F1;
}

#Background {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

#AddTitleCard {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}